.post-list {
  display: flex;
  flex-direction: column;
  // background-color: #f1f1f1;
  // background-color: #222222;
  width: 90%;
  padding: 1em;
  margin-top: 1em;
  border-radius: 5px;
  &-heading {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 8px;
    color: #33aaa4;
  }
  &-link {
    color: #3b3b3b;
    padding: 1em;
    display: block;
    text-decoration: none;
  }
  &-date {
    color: #5e807b;
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }
  .odd {
    background-color: #f1f1f1;
    border-radius: 5px;
    -webkit-box-shadow: 8px 0px 8px -3px #e9e8e8; 
    box-shadow: 8px 0px 8px -3px #e9e8e8;

  }
}